<a href="https://colab.research.google.com/github/yashveersinghsohi/machine_hack_competitions/blob/feature_engineering/Data_Science_Student_Championship/Features/Feature_Engineering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Git Clone

In [1]:
# !git clone -b feature_engineering https://github.com/yashveersinghsohi/machine_hack_competitions.git

# Imports

In [12]:
import pandas as pd
import numpy as np
from sklearn.ensemble import IsolationForest

# Datasets

In [3]:
root_dir = '/content/machine_hack_competitions/Data_Science_Student_Championship/Features/raw/'

X_train_raw = pd.read_csv(root_dir + 'X_train_raw.csv')
y_train_raw = pd.read_csv(root_dir + 'y_train_raw.csv')

X_val_raw = pd.read_csv(root_dir + 'X_val_raw.csv')
y_val_raw = pd.read_csv(root_dir + 'y_val_raw.csv')

X_test_raw = pd.read_csv(root_dir + 'X_test_raw.csv')
y_test_raw = pd.read_csv(root_dir + 'y_test_raw.csv')

In [4]:
X_train, y_train = X_train_raw.copy(), y_train_raw.copy()
X_val, y_val = X_val_raw.copy(), y_val_raw.copy()
X_test, y_test = X_test_raw.copy(), y_test_raw.copy()

# Feature Engineering

In [5]:
def iqr_univariate(datasets, col):
  X_train, X_val, X_test = datasets
  q25 = X_train[col].quantile(0.25)
  q75 = X_train[col].quantile(0.75)
  iqr = q75-q25
  lower_bound = q25 - (1.5*iqr)
  upper_bound = q75 + (1.5*iqr)
  X_train['is_'+col+'_outlier'] = ((X_train[col] > upper_bound) | (X_train[col] < lower_bound)).astype(int)
  X_val['is_'+col+'_outlier'] = ((X_val[col] > upper_bound) | (X_val[col] < lower_bound)).astype(int)
  X_test['is_'+col+'_outlier'] = ((X_test[col] > upper_bound) | (X_test[col] < lower_bound)).astype(int)
  return [X_train, X_val, X_test]

def isolation_forest_od_univariate(datasets, col):
  pass

def isolation_forest_od(datasets):
  pass

def cblof_od(datasets):
  pass

def hbos_od(datasets):
  pass

def abod(datasets):
  pass

In [6]:
datasets = [X_train_raw, X_val_raw, X_test_raw]
continuous_features = ['trip_duration', 'distance_traveled', 'tip', 'miscellaneous_fees']
for feature in continuous_features:
  datasets = iqr_univariate(datasets=datasets, col=feature)

In [7]:
X_train, X_val, X_test = datasets

In [11]:
X_test

,trip_duration,distance_traveled,num_of_passengers,tip,miscellaneous_fees,surge_applied,is_trip_duration_outlier,is_distance_traveled_outlier,is_tip_outlier,is_miscellaneous_fees_outlier
0,1076.0,4.18,1.0,0,13.500,0,0,0,0,0
1,429.0,1.48,4.0,0,13.500,0,0,0,0,0
2,856.0,4.15,1.0,24,6.000,0,0,0,0,0
3,622.0,3.22,1.0,15,5.625,0,0,0,0,0
4,507.0,3.98,1.0,0,2.250,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
89856,435.0,2.24,1.0,13,13.700,0,0,0,0,0
89857,519.0,2.61,1.0,7,13.850,0,0,0,0,0
89858,450.0,2.24,1.0,0,26.625,1,0,0,0,0
89859,919.0,4.12,1.0,25,30.200,1,0,0,0,0
89860,441.0,3.52,1.0,23,6.175,0,0,0,0,0

In [ ]:
# Outlier detections
# - Univariate - Isolation Forest, and IQR

# - Multivariate - Isolation Forest, Cluster-based Local Outlier Factor (CBLOF), Histogram-based Outlier Detection (HBOS), Angle-Based Outlier Detection (ABOD)